body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    color: #333;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}
