/* body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
} */
body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    transition: background 0.5s ease;
}

.center, .conth1, .abouth1{
    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 6vh;              
    text-align: center;
}


/* nav {
    background: #561b1b;
    padding: 10px;
}

nav a {
    color: rgb(250, 250, 250);
    margin: 10px;
    text-decoration: none;
} */

.navbar {
    width: 15%;
    margin-left: auto;      
    text-align: right;    
    padding: 15px;
    /* background-color: #222; */
     background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.navbar a {
    color: white;
    margin: 10px;
    text-decoration: none;
}




button {
    padding: 10px;
    background: rgb(74, 74, 134);
    color: white;
    border: none;
    cursor: pointer;
}
footer {
    margin-top: auto;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 06px;
}